* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

/* Grid */
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
}

a {
  text-decoration: none;
  color: #121212;
}

.container .container-content {
  width: 100%;
}

.cute-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.section-title {
  text-align: center;
}

.section-title .section-title-sup {
  font-size: 0.9rem;
}

.show-more-btn {
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #707070;
  margin: 10px auto;
  color: #121212;
}

section {
  padding: 30px;
}

a.product-link {
  display: contents;
  color: #121212;
}

.page-wrap-grey {
  background-color: #f9f9f9;
}

/* Header style */
header {
  background-color: #fff;
}

#header-top, #header-bottom {
  padding: 30px 0;
  border-bottom: 1px solid #ebebeb;
}

#header-bottom {
  border-bottom: none;
  padding-bottom: 0;
  padding-top: 15px;
}

#header-top-left {
  flex: 1
}

#header-top-wrap {
  align-items: center;
  justify-content: space-between;
}

#header-logo {
  height: 40px;
}

#header-top-center {
  flex: 1;
}

#header-search-form {
  position: relative;
}

#header-search-form input[type="text"] {
  padding: 10px;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  width: 100%;
}

#header-search-result {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: #fff;
  box-shadow: 0 0 10px #d1d1d194;
  width: calc(100% + 20px);
  display: flex;
  border-radius: 5px;
  display: none;
}

#header-search-result.false {
  display: block;
}

#header-search-result > a {
  display: block;
  width: 100%;
}

#header-search-result .header-search-item {
  padding: 10px;
}

#header-search-result .header-search-item:hover {
  background-color: #f7f7f7;
}

#header-top-right {
  flex: 1;
}

#header-actions {
  display: flex;
  justify-content: flex-end;
}

#header-actions .header-action {
  margin-left: 10px;
}

#header-bottom-wrap {
  align-items: center;
  justify-content: space-between;
}

#header-cat-sort {
  display: flex;
  background-color: #ebebeb;
  cursor: pointer;
  align-items: center;
  padding: 5px 10px;
  border-radius: 6px;
  margin-top: -15px;
}

#header-cat-sort-icon svg {
  height: 30px;
  margin-right: 5px;
}

#header-bottom-links {
  padding-left: 50px;
  display: flex;
}

#header-bottom-left {
  flex: 1;
}

#header-bottom-links .header-bottom-link {
  padding: 10px;
  color: #121212;
}

#header-bottom-links .header-bottom-link.active {
  border-bottom: 3px solid #4CAF50;
}

#cart-action {
  position: relative;
}

#cart-action #cart-action-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  height: 20px;
  line-height: 22px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: #4CAF50;
  box-shadow: 0 5px 20px #4caf5085;
  color: #fff;
  font-size: 0.8rem;
}

/* Footer */
footer {
  padding: 30px;
}

#footer-cols {
  display: flex;
}

#footer-cols .footer-col {
  flex: 1;
  padding-right: 25px;
}

#footer-about-col {
  flex: 2 !important
}

#footer-about {
  color: #121212;
  font-size: 0.9rem;
  margin-top: 20px;
}

.footer-col-title {
  font-weight: bold;
}

.footer-link {
  display: block;
  color: #121212;
  margin-top: 10px;
  font-size: 0.9em;
}

#footer-phone, #footer-email {
  color: #121212;
  font-weight: bold;
}

#footer-contact-para {
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 0.9em;
}

/* Home page */
/* Slider */
#slider-wrap {
  position: relative;
}

#slider-items {
  display: flex;
  overflow-x: hidden;
}

.slider-item {
  min-width: 100vw;
  width: 100%;
  background-size: cover;
  position: relative;
  color: #fff;
  padding: 110px 180px;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

.slider-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 998;
}

.slider-content {
  position: relative;
  z-index: 999;
}

.slider-title {
  font-size: 54px;
  max-width: 580px;
  font-weight: 700;
  line-height: 67px;
}

.slider-desc {
  font-size: 16px;
  margin: 20px 0;
  max-width: 500px;
  margin-bottom: 40px;
}

.slider-add-to-cart {
  padding: 10px 20px;
  background-color: #ffffffbd;
  border: none;
  border-radius: 4px;
  color: #121212;
  font-weight: 500;
  margin-left: 10px;
  cursor: pointer;
}

#slider-arrows {
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  padding: 0 50px;
  color: #fff;
  z-index: 9999;
  justify-content: space-between;
  font-size: 28px;
  transform: translateY(-50%)
}

.slider-arrow {
  cursor: pointer;
}

/* Recommended section */
#recommended-section {
  background-color: #F8F8F8;
  text-align: center;
}

#recommended-products-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}

.product-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin: 0 10px;
  max-width: calc(25% - 30px);
  box-shadow: 0 0 15px #c3c3c357;
}

.product-card .product-img {
  width: 100%
}

.product-card .product-title {
  font-weight: bold;
}

.product-card .product-price {
  background-color: #dbf3de;
  color: #4CAF50;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 50px;
  margin-top: 10px;
  display: inline-block;
}

/* Banners */
.banner-section {
  padding: 60px;
  background-size: cover !important;
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.banner-text {
  font-size: 35px;
  max-width: 500px;
  font-weight: bold;
  color: #fff;
}

.banner-link {
  padding: 10px 25px;
  border-radius: 5px;
  border: 2px solid #fff;
  margin: 10px auto;
  color: #fff;
  background: #00000059;
}

/* Home collection section */
.collection-products {
  display: flex;
  margin-top: 20px;
}

.collection-products-left, .collection-products-right {
  flex: 1;
}

.collection-products-left {
  display: flex;
  flex-wrap: wrap;
}

.collection-products-left .product-card {
  width: calc(50% - 60px);
  max-width: 100%;
  margin-bottom: 20px;
}

.collection-products-left .product-card .product-dets {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection-products-left .product-card .product-dets .product-title {
  font-size: 0.8rem;
}

.collection-products-left .product-card .product-price {
  margin-top: 0;
}

.collection-products-right {
  display: flex;
}

.collection-product-big {
  background-color: #f5f5f6;
  width: 100%;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 25px #86868657;
}

.collection-product-big-price {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: #fff;
  color: #4CAF50;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 50px;
  display: inline-block;
}

.top-products-products, .category-products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.top-products-products .product-card, .category-products .product-card {
  max-width: 100%;
  width: calc(25% - 60px);
  margin-bottom: 20px;
}

.top-products-products .product-card .product-dets, .category-products .product-card .product-dets {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-products-products .product-card .product-dets .product-title, .category-products .product-card .product-dets .product-title {
  font-size: 0.8rem;
}

.top-products-products .product-card .product-price, .category-products .product-card .product-price {
  margin-top: 0;
}

/* Categories page */
#categories-page-wrap {
  background-color: #f9f9f9;
  padding: 30px 0;
}

#categories-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-card {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  width: 24%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: #121212;
  box-shadow: 0 0 15px #c3c3c357;
  margin: 0.5%;
}

span.category-card-num-products {
  font-size: 0.75rem;
  margin-bottom: -10px;
  margin-top: 10px;
}

/* Product page */
#product-page-wrap {
  padding: 30px 0;
}

#single-product-wrap {
  display: flex;
  width: 100%;
  padding: 30px;
  border-radius: 5px;
}

#single-product-wrap #product-left {
  width: 40%;
}

#single-product-wrap #product-right {
  padding-left: 50px;
  width: 60%;
}

#product-gallery, #product-gallery-cur-pic-wrap {
  width: 100%;
}

#product-gallery-cur-pic-wrap {
  position: relative;
}

#gallery-main-pic {
  width: 100%;
  height: 400px;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 4px;
  box-shadow: 0 0 15px #c3c3c357;
}

#product-sale-badge {
  background-color: #4CAF50;
  padding: 8px 29px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 25px;
  left: 25px;
  border-radius: 50px;
  box-shadow: 0 5px 20px #6fb77269;
}

#single-product-category {
  font-weight: bold;
  color: #444;
  font-size: 0.9rem;
}

#single-product-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: 10px;
}

#single-product-description {
  font-size: 0.9rem;
  color: #444;
  margin-bottom: 10px;
}

#single-product-price-cur {
  font-size: 1.8rem;
  color: #3ab54b;
  font-weight: bold;
}

#single-product-size-select {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

#single-product-size-select-title {
  font-size: 1.8rem;
  font-weight: bold;  
}

#single-product-size-select-options {
  display: flex;
}

.single-product-size-select-option {
  height: 35px;
  width: 35px;
  line-height: 35px;
  background-color: #fff;
  box-shadow: 0 0 18px #c7c7c77d;
  text-align: center;
  margin-left: 10px;
  border-radius: 50%;
  font-weight: bold;
  color: #444;
  cursor: pointer;
}

.single-product-size-select-option.active {
  background-color: #444;
  color: #fff;
}

#single-product-add-to-cart-form {
  display: flex;
}

#single-product-add-to-cart-form-amount {
  display: flex;
  background-color: #fff;
  width: 160px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}

#single-product-add-to-cart-form-amount button {
  background-color: transparent;
  border: none;
}

#single-product-add-to-cart-form-amount input {
  border: none;
  text-align: center;
}

#single-product-add-to-cart-form-amount input::-webkit-outer-spin-button,
#single-product-add-to-cart-form-amount input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#single-product-add-to-cart-form-amount input {
  -moz-appearance: textfield;
}

#single-product-add-to-cart-form-plus {
  position: absolute;
  top: 50%;
  left: 1 0px;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
}

#single-product-add-to-cart-form-minus {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
}

#single-product-add-to-cart-btn {
  margin-left: 20px;
  padding: 0 20px;
  border: none;
  background: #3ab54b;
  color: #fff;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 5px 20px #7ebd87ab;
  cursor: pointer;
}

#single-product-actions {
  margin-top: 30px;
}

.single-product-actions-title {
  font-weight: bold;
}

.single-product-tag-link {
  margin: 0 5px;
  color: #444;
}

.single-product-share-option {
  height: 35px;
  line-height: 35px;
  width: 35px;
  background-color: #fff;
  color: #444;
  margin: 0 5px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 18px #c7c7c77d;
  transition: 0.3s ease-in-out;
}

.single-product-share-option:hover {
  background-color: #444;
  color: #fff;
}

#single-product-tab-triggers {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
}

.single-product-tab-trigger {
  padding: 10px 26px;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  margin-right: 10px;
  box-shadow: 0 0 18px #c7c7c77d;
  transition: 0.3s ease-in-out;
  user-select: none;
}

.single-product-tab-trigger.active {
  background-color: #3ab54b;
  color: #fff;
  box-shadow: 0 5px 20px #7ebd87ab;
}

#desc-text {
  max-width: 800px;
}

.single-product-tab {
  display: none;
}

.single-product-tab.active {
  display: block;
}

#product-not-found-wrap {
  text-align: center;
}

#product-not-found-wrap h1 {
  color: #e30000;
}

#product-not-found-wrap a {
  text-decoration: underline;
}

#cart-content-wrap {
  display: flex;
  padding: 30px;
  width: 100%;
}

#cart-left {
  width: 70%;
  padding-right: 10px;
}

#cart-right {
  width: 30%;
  padding-left: 10px;
}

#cart-list, #cart-totals {
  padding: 25px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px #c3c3c357;
}

#cart-totals.no-items {
  opacity: 0.5;
}

#cart-list-table {
  margin-top: 25px;
}

#cart-list-table td {
  padding: 10px;
}

.table {
  width: 100%;
}

.table-header {
  display: flex;
  width: 100%;
  background: #000;
  padding: 18px 0;
}

.table-row {
  display: flex;
  width: 100%;
  padding: 10px 0;
}
.table-row:nth-of-type(odd) {
  background: #EEEEEE;
}

.table-data, .header__item {
  flex: 1 1 20%;
  text-align: center;
}

.header__item {
  text-transform: uppercase;
  color: #fff;
}

.filter__link {
  color: white;
  position: relative;
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
}
.filter__link::after {
  content: "";
  position: absolute;
  right: -18px;
  color: white;
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.filter__link.desc::after {
  content: "(desc)";
}
.filter__link.asc::after {
  content: "(asc)";
}

.cart-table-title a {
  color: #121212;
  font-weight: bold;
}

#cart-totals-table {
  margin-top: 20px;
}

#cart-totals-table tr td:last-child {
  padding-left: 10px;
}

#cart-checkout-btn {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #3ab54b;
  color: #fff;
  box-shadow: 0 5px 20px #7ebd87ab;
  margin-top: 20px;
  border-radius: 5px;
}

.cart-option {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 20px #bd7e7eab;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
}

.cart-delete-option {
  background-color: #4CAF50;
  color: #fff;  
}

/* Checkout page */
#checkout-payment-wrap {
  background-color: #f8f8f8;
  padding: 50px;
}

#payment-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#payment-container .price h1 {
  font-weight: 300;
  color: #556969;
  letter-spacing: 2px;
}

#payment-container .card {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 520px;
  height: 400px;
  box-shadow: 0 0 15px #c3c3c357;
  border: 1px solid #ebebeb;
  border-radius: 6px;
}

#payment-container .card .row {
  height: 20%;
  width: 100%;
  border-bottom: 1.2px solid #292C58;
}
#payment-container .card .row:last-child {
  border: none;
}
#payment-container .card .paypal {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#payment-container .card .details {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#payment-container .card .paypal, #payment-container .card .credit {
  background-color: #fff;
}

#payment-container .card .cardholder, #payment-container .card .number, .card .details {
  background-color: #f9f9f9;
}

.paypal .left, .paypal .right, .credit .left, .credit .right {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.paypal .left, .credit .left {
  float: left;
  margin-left: 50px;
}
.paypal .left label, .credit .left label {
  margin-left: 10px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #777;
}
#payment-container .paypal .left input[type=radio], #payment-container .credit .left input[type=radio] {
  visibility: hidden;
}
.paypal .left .radio, .credit .left .radio {
  position: absolute;
  top: -2px;
  left: -20px;
  border: 3px solid #414365;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #292B52;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.paypal .left .radio::before, .credit .left .radio::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  background-color: transparent;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.paypal .right, .credit .right {
  float: right;
  margin-right: 30px;
}
.paypal .right img, .credit .right img {
  height: 16px;
  margin-left: 10px;
}

#payment-container input[type=radio]:checked ~ .radio {
  border: 3px solid #90E1E3;
  background-color: #18C2C0;
}
#payment-container input[type=radio]:checked ~ .radio::before {
  background-color: #fff;
}

#payment-container .cardholder .info, .number .info {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 40px;
}
#payment-container .cardholder .info label, .number .info label {
  display: inline-block;
  letter-spacing: 0.5px;
  color: #8F92C3;
  width: 100px;
}
#payment-container .cardholder .info input, .number .info input {
  display: inline-block;
  max-width: 300px;
  width: 300px;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 50px;
  color: #555;
}
#payment-container .cardholder .info input::-moz-placeholder, .number .info input::-moz-placeholder {
  color: #444880;
}
#payment-container .cardholder .info input:-ms-input-placeholder, .number .info input:-ms-input-placeholder {
  color: #444880;
}
#payment-container .cardholder .info input::placeholder, .number .info input::placeholder {
  color: #444880;
}

#cardnumber::-moz-placeholder {
  letter-spacing: 2px;
}

#cardnumber:-ms-input-placeholder {
  letter-spacing: 2px;
}

#cardnumber, #cardnumber::placeholder {
  letter-spacing: 2px;
}

#payment-container .details .left, #payment-container .details .right {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#payment-container .details .left {
  float: left;
  padding-left: 40px;
  width: 40%;
}
#payment-container .details .left label {
  letter-spacing: 0.5px;
  color: #8F92C3;
  width: 100px;
  margin-right: 20px;
}
#payment-container .details .left select {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  outline: none;
  color: #444880;
}
#payment-container .details .left span {
  color: #444880;
  margin: 0 2px;
}
#payment-container .details .right {
  float: right;
  width: 50%;
  margin-top: 2px;
}
#payment-container .details .right label {
  margin-right: 20px;
  color: #8F92C3;
}
#payment-container .details .right input {
  text-align: center;
  width: 50px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
}
#payment-container .details .right input::-moz-placeholder {
  color: #444880;
}
#payment-container .details .right input:-ms-input-placeholder {
  color: #444880;
}
#payment-container .details .right input::placeholder {
  color: #444880;
}
#payment-container .details .right span {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-left: 50px;
  color: #18C2C0;
  width: 24px;
  height: 24px;
  border: 2px solid #18C2C0;
  border-radius: 50%;
  line-height: 24px
}

#payment-container .button button {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  width: 520px;
  background-color: #18C2C0;
  border: none;
  color: #fff;
  padding: 18px;
  outline: none;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  text-align: center;
  background-color: #3ab54b;
  box-shadow: 0 5px 20px #7ebd87ab;
  border-radius: 5px;
}
#payment-container .button button:hover {
  background-color: #15aeac;
}
#payment-container .button button:active {
  background-color: #139b99;
}
#payment-container .button button i {
  font-size: 1.2rem;
  margin-right: 5px;
}

#checkout-billing-return-link {
  text-align: center;
  display: block;
  margin-top: 15px;
  text-decoration: underline;
  font-size: 0.9rem;
}

#checkout-billing-form {
  background-color: #f9f9f9;
}

#checkout-billing-form .container {
  flex-direction: column;
}

#checkout-billing-form .form__name {
  color: #b9bac5;
  padding: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 60px;
}

#checkout-billing-form .form__container {
  min-height: 300px;
  background-color: #fff;
  border: 1px solid #dadde8;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#checkout-billing-form .form__container input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ebebeb
}

#checkout-billing-form .form__container input.missing {
  border: 1px solid tomato;
}

.personal--form {
  color: #a4a9c5;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
}

.personal--form form, .shipping--form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.personal--form .last {
  margin-left: 40px;
}
.personal--form .first,
.personal--form .last,
.personal--form .email {
  display: inline-block;
}
.personal--form .first label,
.personal--form .last label,
.personal--form .email label {
  margin-bottom: 10px;
}
.personal--form input {
  display: block;
  min-width: 250px;
}
.personal--form .email {
  margin-top: 20px;
}
.personal--form .email input {
  width: 540px;
}

.shipping--form {
  color: #a4a9c5;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
}
.shipping--form .row.two,
.shipping--form .row.three {
  margin-top: 20px;
}
.shipping--form .address-two,
.shipping--form .city,
.shipping--form .country {
  margin-left: 40px;
}
.shipping--form .address,
.shipping--form .address-two,
.shipping--form .city,
.shipping--form .state,
.shipping--form .zip,
.shipping--form .country {
  display: inline-block;
}
.shipping--form .address label,
.shipping--form .address-two label,
.shipping--form .city label,
.shipping--form .state label,
.shipping--form .zip label,
.shipping--form .country label {
  margin-bottom: 10px;
}
.shipping--form input {
  display: block;
  min-width: 250px;
}

#checkout-billing-forminput {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  background: transparent;
  border: 1px solid #a4a9c5;
  border-radius: 3px;
  outline: none;
  padding: 10px;
  transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  color: #18c2c0;
}
#checkout-billing-forminput:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #18c2c0;
}
#checkout-billing-forminput:focus {
  border-color: #18c2c0;
}
#checkout-billing-form input::-moz-placeholder {
  font-weight: 500;
  color: #646e8a;
}
#checkout-billing-form input:-ms-input-placeholder {
  font-weight: 500;
  color: #646e8a;
}
#checkout-billing-form input::placeholder {
  font-weight: 500;
  color: #646e8a;
}

#checkout-billing-form button {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #3ab54b;
  color: #fff;
  box-shadow: 0 5px 20px #7ebd87ab;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#checkout-billing-form button:hover {
  background-color: #3dad4c;
}

#checkout-billing-form section {
  padding: 0;
}

#checkout-billing-form section:nth-child(1) {
  margin-top: 0px;
}

#checkout-billing-form .sections span {
  color: #646e8a;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 15px;
}

div#shipping-form-error {
  padding: 10px 20px;
  border-radius: 5px;
  background: #ffd7d7;
  margin-top: 20px;
  color: #c53535;
  border: 1px solid #c53535;
  box-shadow: 0 0 15px #ffd7d7;
}

/* Login Page */
#login-page-wrap {
  padding: 50px;
  width: 100%;
}

#login-page-wrap .login-page {
  display: flex;
  justify-content: center;
  width: 100%;
}

#login-page-wrap .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 15px #c3c3c357;
}

#login-page-wrap .form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 0 15px #c3c3c31c;
}

#login-page-wrap .form button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: 0.3 ease-in-out;
  transition: 0.3 ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 5px 20px #7ebd87ab;
}

#login-page-wrap .form button:hover, #login-page-wrap.form button:active, #login-page-wrap .form button:focus {
  background: #43A047;
}

#login-page-wrap .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

#login-page-wrap .form .message a {
  color: #4CAF50;
  text-decoration: none;
}

#login-page-wrap .form .register-form, #login-page-wrap .form .login-form {
  display: none;
}

#login-page-wrap .form .register-form.active, #login-page-wrap .form .login-form.active {
  display: block;
}

#register-form-error-feedback {
  font-size: 0.8rem;
  margin-bottom: 10px;
  margin-top: -5px;
  color: #a90000;
}

#register-form-success-feedback {
  font-size: 0.8rem;
  margin-bottom: 10px;
  margin-top: -5px;
  color: #4a914d;
}